extends ./layout/index.pug
block compartircontenido 
    main
        .container.py-5 
            .row 
                .col-md-5 
                    img(src="img/aragon.jpg" class="img-fluid")
                .col-md-7 
                    h1.font-weight-bold.text-center.mt-5.mt-md-0 Facultad de Estudios Superiores Aragón UNAM 
                    blockquote La Facultad de Estudios Superiores Aragón es una entidad académica multidisciplinaria de la Universidad Nacional Autónoma de México, ubicada en la zona norte del municipio de Nezahualcóyotl, Estado de México. 
                    p 
                        span.font-weight-bold Dirección: 
                        |Avenida Hacienda de Rancho Seco S/N, Plazas de Aragon, 57171 Nezahualcóyotl, Méx.
                    p 
                        span.font-weight-bold Fundación: 
                        |16 de enero de 1976

            .lista-iconos 
                .container.py-5.text-center 
                    .row 
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5
                                    img(src="img/IngComp.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 INGENIERÍA EN COMPUTACIÓN
                                    p.card-text.tamano La carrera de Ingeniería en Computación te da la más cálida bienvenida. Serás parte de una generación que ha crecido con la tecnología y que será testigo de cambios importantes en el desarrollo de la ciencia.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5
                                    img(src="img/IngElecElect.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 INGENIERÍA ELÉCTRICA ELECTRÓNICA
                                    p.tamano Recibe la más cordial bienvenida a la carrera de Ingeniería Eléctrica Electrónica de la FES Aragón. Nuestro programa académico se encuentra acreditado por el Consejo de Acreditación de la Enseñanza de la Ingeniería (CACEI) desde 2014. 
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5
                                    img(src="img/IngCivil.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 INGENIERÍA CIVIL
                                    p.tamano La carrera de Ingeniería Civil te da la bienvenida a la FES Aragón de la UNAM. Ahora eres parte de la comunidad universitaria más grande de México. Te pedimos colabores con tu esfuerzo para que nuestra Facultad sea un auténtico espacio donde, con libertad y pluralidad, se forje el futuro del país.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5
                                    img(src="img/IngIndus.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 INGENIERÍA INDUSTRIAL
                                    p.tamano La carrera de Ingeniería Industrial te da la bienvenida a la mejor etapa de tu vida, en la Facultad de Estudios Superiores Aragón, ahora ya formas parte de la comunidad universitaria más grande de México. Dentro de la carrera aprenderás técnicas y metodologías, que se integrarán en las organizaciones, las personas y los activos, para interconectar todas las partes de la organización, dando lugar a procesos más eficientes y sistemas más productivos.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5 
                                    img(src="img/IngMeca.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 INGENIERÍA MECÁNICA
                                    p.tamano La Licenciatura de Ingeniería Mecánica tiene un papel sumamente importante en la satisfacción de las necesidades de la sociedad, lo que hace de ella un detonante en la transformación y evolución de la misma a lo largo de la historia. Por ello, la comunidad profesional en Ingeniería busca constantemente la transformación de su entorno mediante acciones sobre la naturaleza, en función de su conocimiento, aptitudes y actitudes, a través de un enfoque sustentable.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5 
                                    img(src="img/ComYPer.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 COMUNICACIÓN Y PERIODISMO
                                    p.tamano La etapa que ahora comienzas es una de las más enriquecedoras en tu vida, puesto que el conocimiento que obtendrás a lo largo de los años de tu formación superior, permitirá que comprendas la trascendencia de tu profesión y puedas ejercerla con ética y responsabilidad.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5 
                                    img(src="img/Derecho.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 DERECHO
                                    p.tamano La licenciatura en Derecho te da la bienvenida a la Máxima Casa de Estudios, lugar donde adquirirás las destrezas, habilidades, aptitudes y conocimientos jurídicos y de justicia que te servirán tanto para la vida académica como para el ejercicio profesional, desempeñando una importante función social de consejería jurídica. Serás capaz de aplicar y ejercer la profesión tomando como norma de conducta los valores de justicia, respeto, disciplina, tolerancia, no discriminación y libertad. 
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5 
                                    img(src="img/Economia.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 ECONOMÍA
                                    p.tamano La carrera de Economía te da la bienvenida a la FES Aragón de la UNAM, donde encontrarás las herramientas para su formación como profesionista, así como experiencias y aprendizajes que te resultarán significativos en términos personales. Ahora que eres parte de nuestra comunidad te invitamos a conocerla, sentirla y quererla.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5 
                                    img(src="img/PlanDesCom.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 PLANIFICACIÓN PARA EL DESARROLLO AGROPECUARIO
                                    p.tamano Estás por cursar una licenciatura vanguardista en el terreno de la educación multidisciplinaria e interdisciplinaria, única en su tipo. La comunidad profesional de Planificación para el Desarrollo Agropecuario se encarga de resolver los problemas de productores del campo desde una perspectiva integral y con la posibilidad de generar alternativas de desarrollo.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5 
                                    img(src="img/RelacionInter.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 RELACIONES INTERNACIONALES
                                    p.tamano La Licenciatura en Relaciones Internacionales es una de las más importantes dentro de la UNAM. Nuestra comunidad se conforma de alrededor de 1300 Estudiant@s y de 97 Docentes. Hasta ahora de nuestras aulas han egresado 42 generaciones de Internacionalistas aragones@s.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5 
                                    img(src="img/Sociologia.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 SOCIOLOGÍA
                                    p.tamano A nombre de toda la Comunidad Universitaria, te damos la más cordial bienvenida, queremos felicitarte y hacerte sentir parte fundamental de la misma. Pertenecer a la UNAM no sólo significa obtener conocimientos académicos, sino también grandes oportunidades de desarrollo profesional, humano y experiencias invaluables.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5 
                                    img(src="img/Arquitectura.jpg" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 ARQUITECTURA
                                    p.tamano La FES Aragón es una de las tres sedes de nuestra Máxima Casa de Estudios en las que se imparte la carrera de Arquitectura. Recibe un afectuoso saludo y la más cordial de las bienvenidas a tu nuevo hogar, del cual debes sentir orgullo.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5 
                                    img(src="img/DiseñoInd.png" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 DISEÑO INDUSTRIAL
                                    p.tamano La carrera de Diseño Industrial te recibe con mucho entusiasmo en esta nueva etapa de tu formación. Docentes, estudiantes y funcionarios, estamos listos para proporcionarte los conocimientos, técnicas, herramientas e instalaciones necesarias para que adquieras las habilidades, destrezas y capacidades para ejercer esta profesión, en cualquiera de los campos de desarrollo y aplicación donde el diseño pueda resolver o satisfacer algún tipo de necesidad.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                                .card-body.p-0.m-5 
                                    img(src="img/Pedagogia.png" class="img-fluid mb-4")
                                    h2.card-tittle.mb-4 PEDAGOGÍA
                                    p.tamano Tenemos el objetivo de apoyarte en la realización de tus metas y cumplir con tus expectativas académicas para tu formación profesional, a partir de este momento eres parte de la licenciatura en Pedagogía de la FES Aragón, aprovecha la oferta académica, cultural y deportiva que te ofrece la Facultad, siente orgullo de unirte a la comunidad aragonesa.