header 
    <!--div(class="navegacion") -->
    <!--div.navegacion-->
    .navegacion 
        .container.py-5
            .row.justify-content-center.justify-content-md-between.align-items-center 
                .col-md-4.col-6
                    a(href="/")
                        img(src="img/logo.PNG",width=300, class="img-fluid logoFes", alt="Imagen logo fes aragón",height =200)
                .col-md-8 
                    nav.navbar-nav.container.d-flex.flex-md-row.justify-content-md-between.text-center
                        a.nav-link(href="/creadores") Creadores
                        a.nav-link(href="/materias") Materias
                        a.nav-link(href="/comentarios") Comentarios
                        a.nav-link(href="/lista") Modificar 