footer.container.py-5 
    .row.text-center
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/creadores") Creadores
                a.nav-link(href="/materias") Materias
                a.nav-link(href="/comentarios") Comentarios
        .col-md-6
            p.text-center.text-md-right 
                | Derechos Reservados 
                span=tiempo