footer.container.py-5 
    .row   
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start 
                a.nav-link(href="/template") 
            .col 
                p.text.center.text-md-right 
                |Derechos reservados
                |Tel. 55-3244-2132            
                |e-mail: HZacatlan@puebla.com
                span=tiempo